body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #ab4e10;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

input#searchUser {
  margin-bottom: 15px;
  padding: 8px;
  width: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}

button.block-user { background-color: orange; color: white; }
button.delete-user { background-color: red; color: white; }
